@tailwind base;
@tailwind components;
@tailwind utilities;


.col-image-left {
    background-image: 'images/heroes1.jpg';
    height: 25em !important;

}

.col-image-right {
    background-image: url("https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg");
    height: 25em !important;

}
